/* PLEASE ADD VARIABLES, ESCPECIALLY FOR COLORS, HERE!!
--------------------------------------------------------*/
:root {
    --main-blue-color: #7cc4f4; /* before: #80ccff */
    --dark-grey-color: #6A778D;
    --light-grey-color: #e9e9e9;
    --dark-blue-color: #4477BD;
}

/* Overrides browser defaults */
@viewport {
    width: 100%;
    zoom: 1.0;
}

/* Resets values of elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Actual styling */

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 3fr 3fr;
    grid-template-areas: "emptytitle emptytitle emptytitle emptytitle" "introduction introduction introduction introduction" "picture1 picture2 picture3 picture4";
    margin: 0 8% 0 8%;
}
/* style for the navigation bar*/

.upload {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "emptytitle emptytitle" "submit selectingdata";
    margin: 0 0% 0 16%;
    background-color: var(--light-grey-color);
}

.visualizationpage {
    margin: 0 0% 0 16%;

}

.emptytitle {
    grid-area: emptytitle;
    height: 65px;
    padding: 10px;
}

.title {
    height: 65px;
    width: 100vw;
    background-color: var(--dark-blue-color);
    padding: 10px;
    position: fixed;
    margin: 0 -8% 0 -8%;
    z-index: 1000;
}

.titleviz {
    height: 65px;
    width: 100vw;
    background-color: var(--dark-blue-color);
    padding: 10px;
    position: fixed;
    margin: 0 0% 0 0%;
    z-index: 1000;
}
 
.homelink {
	position: relative;
	left: 8%;
    bottom: 5px;
    float: left;
    height: 60px;
	width: 60px;
}
#hello {
	grid-area: intro1;
	width: 500px;
	height: 30px;
	text-align: center;
	margin: 8% 0 0 5%;
	font-size: 1.5em;
	font-weight: bold;
}	
/*style for the home page*/
.vizlink {
    position: relative;
	top: 40px;
	right: 8%;
    float: right;
    height: 20px;
	width: 100px;
	margin-right: 20px;
}
.uploadlink{
	position: relative;
	top: 25px;
	right: 10%;
    float: right;
    height: 10px;
	width: 150px;
	font-size: 18px; 
}
#viz_button, #upload_button{
	background-color: var(--main-blue-color);
	border: none;
	font-size: 17px;
	border-radius: 15px;
	color: black;
	text-align: center;	
}
#viz_button:hover, #upload_button:hover{
	background-color:  var(--main-blue-color);
	border: none;
	font-size: 16px;
	border-radius: 15px;
	text-align: center;
	color: white;
	outline:none;
}
#viz_button:hover {
    height: 30px;
	width: 163px;
}

#upload_button:hover {
	height: 30px;
	width: 120px;	
}
#photo_introduction{
   grid-area: intro2;
   margin: 6% 0 0 0;
   width: 560px;
   height: 215px;
   border: solid 3px;
   border-color: var(--light-grey-color);
   padding: 5px;
   border-radius: 15px;

}	
#intro_text{
	grid-area: intro1;
	text-align: left;
	margin: 18% 10% 0 13%;
	
}
#ending {
	grid-area: intro1;
	text-align: left;
	margin: 45% 0 0 13%;
}
.introduction {
    grid-area: introduction;
    height: 400px;
    background-color:var(--main-blue-color); /* before HoneyDew;*/
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "intro1 intro2";
	border-bottom: 1px double black;
	border-left: 1px solid black;
	border-right: 1px double black;
	
}

.picture {
  background-color: var(--light-grey-color);
  border-right: 1px double black;
	

  /*background-color: var(--main-blue-color);*/
}

/*#intro_text {
    margin: 10px;
    float: left;
}*/

.picture,
.picture > .image {
  padding: 7px;
  object-fit: cover;
}

.picture1 {
  grid-area: picture1;
  border-right: 1px double black;
  border-left: 1px solid black;
  padding: 8px;
 
}

h3 {
	text-align: center;
	font-size: 18px;

}
.information
{
    background-color: var(--light-grey-color);
}
.text {
	text-align: center;
	padding: 15px;
}

.picture2 {
    grid-area: picture2;
}

.picture3 {
    grid-area: picture3;
}

.picture4 {
    grid-area: picture4;
	
}


.uploadbody {
    margin-left: 40%;
}


/* other style for buttons and sliders*/
/* set the CSS for the graph, temporarily copied this, free to change */
body {
    font: 14px Arial, Helvetica, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#formonData {
    padding: 0px;
    margin: 10px 10px;
    width: 300px;
    height: 0px;
    overflow-x: auto;
    text-align: justify;
}

/* Styling of the buttons */
.submitlink {
    grid-area: submit;
    color: var(--dark-grey-color); /* Was green before */
    /*background-color: #ffffff !important;*/
}

.selectingdata {
    grid-area: selectingdata;
}

#formSelectionData {
    overflow: scroll;
}

input[type = "file"] {
    display: none;
}

#fileButton, #imageButton, #JSONButton, input[type = "button"], input[type = "submit"] {
    background-color: var(--main-blue-color);
    border: 1px solid var(--dark-grey-color); /* Was black before */
    color: white;
    padding: 6px 15px;
    text-align: center;
    /*text-decoration: none;
    display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

#fileButton, #imageButton, #JSONButton {
    width: 220px;
}

#fileButton:hover, #imageButton:hover, #JSONButton:hover, input[type = "submit"]:hover, input[type = "button"] {
    background-color: var(--dark-blue-color); /* Was dark blue #0099ff before */
    color: white;
}

/* Styling for the sliders */
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 200px;
    height: 15px; /* Specified height */
    background: var(--light-grey-color); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: var(--dark-blue-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: var(--main-blue-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.visualization {
    margin: 10px 10px;
}

.slidecontainer {
    margin: 10px 10px;
}

.left_elem {
    float: left;
    margin-right: 10px;
}

/* Checkbox styling in old_upload.html page */
/* The container */
.containerLabel {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--dark-grey-color);
}

/* On mouse-over, add a grey background color */
.containerLabel:hover input ~ .checkmark {
    background-color: var(--dark-grey-color);
}

/* When the checkbox is checked, add a blue background */
.containerLabel input:checked ~ .checkmark {
    background-color: var(--main-blue-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: center;
    display: none;
}

/* Show the checkmark when checked */
.containerLabel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerLabel .checkmark:after {
    margin-left: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bubbles {
  stroke-width: 1px;
  stroke: black;
  fill: #7cc4f4;
  opacity: .6;
}

.bubbles:hover {
  stroke: black;
  opacity: 1;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 28px;					
    padding: 2px;				
    font: 9px sans-serif;		
    background: #e9e9e9;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #70edff;
    margin-top: -40px;
    margin-left: 20px;    
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}


/* styling for the sidebar on the visualization page */
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-blue-color);
  overflow-x: hidden;
  padding-top: 90px;
}
